body
{
    font-family: Verdana, "Time New Roman", Tahoma, sans-serif;
    text-align: left;
    background-color: azure;
}

.title
{
    width: 300px;
    height: 40px;
    font-size: 36px;
    font-weight: bold;
}

.section
{
    border: 1px solid black;   
}

.nutrition{
    background-color: lightblue;
}

#warnings{
    background-color: yellow;
    border: 3px solid red;
}

#severe-warning{
    color: red;
}


.image, img
{
    width: 600px;
    border: 4px solid blue;
    background: aquamarine;
}

.home
{
    width: 160px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
}